/* Ajouter une team  */

#titre{
    color: #d3a202;
    margin: 13px 130px 13px ;
}
#button-ajouter{
    background-color: #04205c;
    color:#d3a202;
    font-weight: bolder;
    width: 100%;
}
#button-ajouter:hover{
    background-color: #f1f1f1;
    color: #04205c;
    font-weight: bolder;
    border: 1px solid #d3a202;
    border-radius: 5px;
}
#Ajouter_votre_groupe{
   border-radius: 5px;
   margin: 30px 50px 0px ;
}

#Enre{
   
    background-color: #04205c;
    color:#d3a202;
    height:30px;
    width: 100px;
    font-weight: bolder;
    border-radius: 5px;
    margin: 30px 50px 0px ;
}       
#Enre:hover{
    background-color: #f1f1f1;
    color: #04205c;
    font-weight: bolder;
    border: 1px solid #d3a202;
    border-radius: 5px;
}
.tof{
    color: rgb(15, 126, 217);
    margin: 30px 50px 10px ;
}


/* Parametre du team*/
#Parametre_du_team{
    color:#d3a202;
    margin: 13px 130px 13px ;
}
#mod{
    background-color: #04205c;
    color:#d3a202;
    height:30px;
    width: 100px;
    font-weight: bolder;
    border-radius: 5px;
    margin: 5px 0px 0px ;
}
#mod:hover{
    background-color: #f1f1f1;
    color: #04205c;
    font-weight: bolder;
    border: 1px solid #d3a202;
    border-radius: 5px;
}
#Modifier{
    color:rgb(15, 126, 217) ;
}
#Modifier_le_nom{
    border-radius: 5px;
}


#Ajouter_un_membre{
    color:rgb(15, 126, 217) ;
}
#button-ajouter{
    background-color:#04205c ;
    color:#d3a202;
    height:30px;
    width: 100px;
    font-weight: bolder;
    border-radius: 5px;
}
#email{
    border-radius: 5px;
}

#Suppression_du_jeux{
    color:rgb(15, 126, 217) ;
}
#Supprimer{
    background-color: red;
    color:#d3a202;
    height:30px;
    width: 100px;
    font-weight: bolder;
    border-radius: 5px;
}
#Supprimer:hover{
    background-color: #f1f1f1;
    color: red;
    font-weight: bolder;
    border: 1px solid #d3a202;
    border-radius: 5px;
}


/* Mon team */
#Mon_team{
    color: #d3a202;
    margin: 13px 130px 13px ;
}
#Team_creer{
    color:rgb(15, 126, 217) ;
}
#Membre{
    color:rgb(15, 126, 217) ;
}
#header{
    background-color: rgb(210, 210, 210);
}


/* Voir tout les teams */
#team{
    color:rgb(15, 126, 217);
}
#Team{
    color: #d3a202;
    margin: 13px 130px 13px ;
}
nav{
    background-color:#04205c ;
}
.table{
    background-color:LightGray;
}
#td{
    color:#f1f1f1;
}
#td2{
    color: black;
}
.tr{
    background-color:#d3a202 ;
}
